{
	"extends": "@antfu",
	"rules": {
		"no-console": "warn",
		"no-tabs": "off",
		"@typescript-eslint/indent": [
			0,
			"tab"
		],
		"vue/html-indent": [
			"warn",
			"tab"
		],
		"@typescript-eslint/semi": "off",
		"@stylistic/js/no-tabs": "off"
	}
}